 <!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}

    {% for post in home %}
    <title>{{post.title}}</title>
    {% endfor %}



  </head>
  <body>

  <div class="site-wrap">


      </div>

    </div>

          <div class="col-4 site-logo">
            {% for post in home %}
            <a href="/home" class="text-black h2 mb-0">{{post.title}}</a>
            {% endfor %}
          </div>

          <div class="col-8 text-right">
            <nav class="site-navigation" role="navigation">
              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block mb-0">
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
                  <li><a href="{% url 'home_list' %}">Home List</a></li>

                {% for post in cate %}

                <li><a href="/?category={{post.sno | safe}}">{{post.title | safe}}</a></li>
                {% endfor %}

                {% if request.user.is_authenticated %}
                <li><a href="/logout">{{request.user.get_full_name}} - Logout</a></li>

                {% else %}
                <li><a href="/login">Login</a></li>

                {% endif %}


              </ul>
            </nav>
            <a href="#" class="site-menu-toggle js-menu-toggle text-black d-inline-block d-lg-none"><span class="icon-menu h3"></span></a></div>
          </div>

      </div>
  </header>


{% for message in messages %}
<div class="container">
  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>Action : </strong>{{message}}
</div>
</div>
{% endfor %}


  {% block body %}

  {% endblock body %}
